html {
       background-color: #EDE9E5;
}


#content {
       margin: 0 auto;
       width: 250px;
       height: 100%;
       margin-top: -100px;
       border: 5px solid white;
       background-color: rgba(255,255,255,0.75);
       border-radius: 10px 10px 10px 10px;
       box-shadow: 5px 5px 10px -5px;
}

#content>h1 {
       text-align: center;
       font-size: 32px;
}

#content>h2 {
       text-align: center;
       font-size: 18px;
}

.icons {
       width: 80%;
       margin: 0 auto;
       height: 100%;
       overflow: auto;

}

.icons>a>img {
       float:left;
       width: 80px;
       height: 80px;
       padding: 5px;
       border: 5px solid transparent
}

.icons>a>img:hover {
       border-radius: 10px; 
       border: 5px solid #BADA55;       
}

.icons>a:hover:after{
       background: #333;
       border-radius: 5px;
       color: #fff;
       text-align: center;
       content: attr(title);
       padding: 5px 15px;
       position: fixed;
       left: calc(50% - 125px);
       margin-top: -40px;
       z-index: 98;
       width: 220px;
}

#footer {
       position: fixed;
       width: 100%;
       padding-top: 10px;
       margin-bottom: 0;
       height: 12px;
}

#footer>p {
       text-align: center;
       font-size: 10px;
}

/*Spinning the circly text*/
#warped.enter {
       -webkit-animation:spin 50s linear infinite;
       -moz-animation:spin 50s linear infinite;
       animation:spin 50s linear infinite;
       animation-direction:reverse;
       }
       @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
       @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
       @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Centering the circly text div*/
.enter {
       margin-top: -100px;
       left: calc(50% - 298px);
       /*margin-left: auto;
       margin-right: auto;*/
       overflow: hidden;
       z-index: -1;
}
/*The circly text*/
#warped {
       position: relative;
       display: block;
       width:588px;
       height:440px;
}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family:'Inconsolata';font-size:50px;font-weight:regular;font-style:normal;
line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

#warped .w0 {-moz-transform: rotate(-0.95rad);-webkit-transform: rotate(-0.95rad);-o-transform:
rotate(-0.95rad);-ms-transform: rotate(-0.95rad); transform: rotate(-0.95rad);
width: 25px; height: 32px; left: 235.44px; top: 155.09px;}

#warped .w1 {-moz-transform: rotate(-0.5rad);-webkit-transform: rotate(-0.5rad);-o-transform:
rotate(-0.5rad);-ms-transform: rotate(-0.5rad); transform: rotate(-0.5rad);
width: 25px; height: 32px; left: 258.19px; top: 135.16px;}

#warped .w2 {-moz-transform: rotate(-0.05rad);-webkit-transform: rotate(-0.05rad);-o-transform:
rotate(-0.05rad);-ms-transform: rotate(-0.05rad); transform: rotate(-0.05rad);
width: 25px; height: 32px; left: 287.33px; top: 127.07px;}

#warped .w3 {-moz-transform: rotate(0.4rad);-webkit-transform: rotate(0.4rad);-o-transform:
rotate(0.4rad);-ms-transform: rotate(0.4rad); transform: rotate(0.4rad);
width: 25px; height: 32px; left: 317.1px; top: 132.42px;}

#warped .w4 {-moz-transform: rotate(0.85rad);-webkit-transform: rotate(0.85rad);-o-transform:
rotate(0.85rad);-ms-transform: rotate(0.85rad); transform: rotate(0.85rad);
width: 25px; height: 32px; left: 341.6px; top: 150.14px;}

#warped .w5 {-moz-transform: rotate(1.29rad);-webkit-transform: rotate(1.29rad);-o-transform:
rotate(1.29rad);-ms-transform: rotate(1.29rad); transform: rotate(1.29rad);
width: 25px; height: 32px; left: 356px; top: 176.74px;}

#warped .w6 {-moz-transform: rotate(1.74rad);-webkit-transform: rotate(1.74rad);-o-transform:
rotate(1.74rad);-ms-transform: rotate(1.74rad); transform: rotate(1.74rad);
width: 25px; height: 32px; left: 357.44px; top: 206.95px;}

#warped .w7 {-moz-transform: rotate(2.19rad);-webkit-transform: rotate(2.19rad);-o-transform:
rotate(2.19rad);-ms-transform: rotate(2.19rad); transform: rotate(2.19rad);
width: 25px; height: 32px; left: 345.63px; top: 234.8px;}

#warped .w8 {-moz-transform: rotate(2.64rad);-webkit-transform: rotate(2.64rad);-o-transform:
rotate(2.64rad);-ms-transform: rotate(2.64rad); transform: rotate(2.64rad);
width: 25px; height: 32px; left: 322.92px; top: 254.77px;}

#warped .w9 {-moz-transform: rotate(3.09rad);-webkit-transform: rotate(3.09rad);-o-transform:
rotate(3.09rad);-ms-transform: rotate(3.09rad); transform: rotate(3.09rad);
width: 25px; height: 32px; left: 293.79px; top: 262.92px;}

#warped .w10 {-moz-transform: rotate(3.54rad);-webkit-transform: rotate(3.54rad);-o-transform:
rotate(3.54rad);-ms-transform: rotate(3.54rad); transform: rotate(3.54rad);
width: 25px; height: 32px; left: 264.01px; top: 257.62px;}

#warped .w11 {-moz-transform: rotate(3.99rad);-webkit-transform: rotate(3.99rad);-o-transform:
rotate(3.99rad);-ms-transform: rotate(3.99rad); transform: rotate(3.99rad);
width: 25px; height: 32px; left: 239.47px; top: 239.94px;}

#warped .w12 {-moz-transform: rotate(4.43rad);-webkit-transform: rotate(4.43rad);-o-transform:
rotate(4.43rad);-ms-transform: rotate(4.43rad); transform: rotate(4.43rad);
width: 25px; height: 32px; left: 225.03px; top: 213.37px;}

#warped .w13 {-moz-transform: rotate(8.53rad);-webkit-transform: rotate(8.53rad);-o-transform:
rotate(8.53rad);-ms-transform: rotate(8.53rad); transform: rotate(8.53rad);
width: 25px; height: 32px; left: 347.13px; top: 241.05px;}

#warped .w14 {-moz-transform: rotate(8.95rad);-webkit-transform: rotate(8.95rad);-o-transform:
rotate(8.95rad);-ms-transform: rotate(8.95rad); transform: rotate(8.95rad);
width: 25px; height: 32px; left: 323.57px; top: 260.07px;}

#warped .w15 {-moz-transform: rotate(-5.39rad);-webkit-transform: rotate(-5.39rad);-o-transform:
rotate(-5.39rad);-ms-transform: rotate(-5.39rad); transform: rotate(-5.39rad);
width: 11px; height: 24px; left: 255.97px; top: 91.7px;}

#warped .w16 {-moz-transform: rotate(-5.2rad);-webkit-transform: rotate(-5.2rad);-o-transform:
rotate(-5.2rad);-ms-transform: rotate(-5.2rad); transform: rotate(-5.2rad);
width: 31px; height: 24px; left: 260.24px; top: 113.73px;}

#warped .w17 {-moz-transform: rotate(-5rad);-webkit-transform: rotate(-5rad);-o-transform:
rotate(-5rad);-ms-transform: rotate(-5rad); transform: rotate(-5rad); width:
21px; height: 24px; left: 276.38px; top: 142px;}

#warped .w18 {-moz-transform: rotate(-4.85rad);-webkit-transform: rotate(-4.85rad);-o-transform:
rotate(-4.85rad);-ms-transform: rotate(-4.85rad); transform: rotate(-4.85rad);
width: 23px; height: 24px; left: 280.8px; top: 168.58px;}

#warped .w19 {-moz-transform: rotate(-4.74rad);-webkit-transform: rotate(-4.74rad);-o-transform:
rotate(-4.74rad);-ms-transform: rotate(-4.74rad); transform: rotate(-4.74rad);
width: 13px; height: 24px; left: 287.45px; top: 191.23px;}

#warped .w20 {-moz-transform: rotate(-4.81rad);-webkit-transform: rotate(-4.81rad);-o-transform:
rotate(-4.81rad);-ms-transform: rotate(-4.81rad); transform: rotate(-4.81rad);
width: 23px; height: 24px; left: 283.46px; top: 216.82px;}

#warped .w21 {-moz-transform: rotate(-4.94rad);-webkit-transform: rotate(-4.94rad);-o-transform:
rotate(-4.94rad);-ms-transform: rotate(-4.94rad); transform: rotate(-4.94rad);
width: 15px; height: 24px; left: 291.34px; top: 241.16px;}

#warped .w22 {-moz-transform: rotate(-5.13rad);-webkit-transform: rotate(-5.13rad);-o-transform:
rotate(-5.13rad);-ms-transform: rotate(-5.13rad); transform: rotate(-5.13rad);
width: 35px; height: 24px; left: 290.41px; top: 269.1px;}

#warped .w23 {-moz-transform: rotate(-5.33rad);-webkit-transform: rotate(-5.33rad);-o-transform:
rotate(-5.33rad);-ms-transform: rotate(-5.33rad); transform: rotate(-5.33rad);
width: 11px; height: 24px; left: 315.89px; top: 293.43px;}

#warped .w24 {-moz-transform: rotate(-5.45rad);-webkit-transform: rotate(-5.45rad);-o-transform:
rotate(-5.45rad);-ms-transform: rotate(-5.45rad); transform: rotate(-5.45rad);
width: 11px; height: 24px; left: 325.92px; top: 306.06px;}

#warped .w25 {-moz-transform: rotate(-5.63rad);-webkit-transform: rotate(-5.63rad);-o-transform:
rotate(-5.63rad);-ms-transform: rotate(-5.63rad); transform: rotate(-5.63rad);
width: 23px; height: 24px; left: 336.08px; top: 321.03px;}

#warped .w26 {-moz-transform: rotate(-5.82rad);-webkit-transform: rotate(-5.82rad);-o-transform:
rotate(-5.82rad);-ms-transform: rotate(-5.82rad); transform: rotate(-5.82rad);
width: 13px; height: 24px; left: 360.45px; top: 333.21px;}

#warped .w27 {-moz-transform: rotate(-5.96rad);-webkit-transform: rotate(-5.96rad);-o-transform:
rotate(-5.96rad);-ms-transform: rotate(-5.96rad); transform: rotate(-5.96rad);
width: 10px; height: 24px; left: 376.94px; top: 339.51px;}

#warped .w28 {-moz-transform: rotate(-6.12rad);-webkit-transform: rotate(-6.12rad);-o-transform:
rotate(-6.12rad);-ms-transform: rotate(-6.12rad); transform: rotate(-6.12rad);
width: 18px; height: 24px; left: 391.5px; top: 344.25px;}

#warped .w29 {-moz-transform: rotate(-6.31rad);-webkit-transform: rotate(-6.31rad);-o-transform:
rotate(-6.31rad);-ms-transform: rotate(-6.31rad); transform: rotate(-6.31rad);
width: 19px; height: 24px; left: 414.54px; top: 345.96px;}

#warped .w30 {-moz-transform: rotate(-6.48rad);-webkit-transform: rotate(-6.48rad);-o-transform:
rotate(-6.48rad);-ms-transform: rotate(-6.48rad); transform: rotate(-6.48rad);
width: 11px; height: 24px; left: 438.25px; top: 343.84px;}

#warped .w31 {-moz-transform: rotate(-6.61rad);-webkit-transform: rotate(-6.61rad);-o-transform:
rotate(-6.61rad);-ms-transform: rotate(-6.61rad); transform: rotate(-6.61rad);
width: 11px; height: 24px; left: 453.82px; top: 339.75px;}

#warped .w32 {-moz-transform: rotate(-6.85rad);-webkit-transform: rotate(-6.85rad);-o-transform:
rotate(-6.85rad);-ms-transform: rotate(-6.85rad); transform: rotate(-6.85rad);
width: 36px; height: 24px; left: 467.28px; top: 327.41px;}

#warped .w33 {-moz-transform: rotate(-7.13rad);-webkit-transform: rotate(-7.13rad);-o-transform:
rotate(-7.13rad);-ms-transform: rotate(-7.13rad); transform: rotate(-7.13rad);
width: 23px; height: 24px; left: 499.63px; top: 305.43px;}

#warped .w34 {-moz-transform: rotate(-7.32rad);-webkit-transform: rotate(-7.32rad);-o-transform:
rotate(-7.32rad);-ms-transform: rotate(-7.32rad); transform: rotate(-7.32rad);
width: 15px; height: 24px; left: 517.86px; top: 286.08px;}

#warped .w35 {-moz-transform: rotate(-7.48rad);-webkit-transform: rotate(-7.48rad);-o-transform:
rotate(-7.48rad);-ms-transform: rotate(-7.48rad); transform: rotate(-7.48rad);
width: 23px; height: 24px; left: 524.39px; top: 264.74px;}

#warped .w36 {-moz-transform: rotate(-7.62rad);-webkit-transform: rotate(-7.62rad);-o-transform:
rotate(-7.62rad);-ms-transform: rotate(-7.62rad); transform: rotate(-7.62rad);
width: 11px; height: 24px; left: 537.18px; top: 243.16px;}

#warped .w37 {-moz-transform: rotate(-7.71rad);-webkit-transform: rotate(-7.71rad);-o-transform:
rotate(-7.71rad);-ms-transform: rotate(-7.71rad); transform: rotate(-7.71rad);
width: 10px; height: 24px; left: 540.69px; top: 227.71px;}

#warped .w38 {-moz-transform: rotate(-7.79rad);-webkit-transform: rotate(-7.79rad);-o-transform:
rotate(-7.79rad);-ms-transform: rotate(-7.79rad); transform: rotate(-7.79rad);
width: 15px; height: 24px; left: 539.99px; top: 211.19px;}