#datBodyDough, html {
  background-color: lightgreen;
  margin: 0;
  height: 100%;
  width: 100%;
}
#wrapper {
  height: 100%;
  width: 100%;
}
#blocker {
  position: absolute;
  width: 100%;
  height: calc(100% - 70px);
  margin: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
}

.header {
  padding: 10px;
  height: 50px;
  width: auto;
  background-color: snow;
  text-align: center;
}

.footer {
  padding: 10px;
  height: 50px;
  width: auto;
  background-color: snow;
  text-align: center;
}

.container {
  height: calc( 100% - 140px );
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card-size-small {
  min-width: 100px;
  max-width: 100px;
  max-height: 187px;
}

.card-size-medium {
  min-width: 200px;
  max-width: 200px;
  max-height: 373px;
}

.card-size-large {
  min-width: 300px;
  max-width: 300px;
  min-height: 560px;
  max-height: 560px;
}

.card {
  width: auto;
  margin: 20px;
  background-color: snow;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);

  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.card:hover {
  -webkit-box-shadow: 13px 13px 7px rgba(0,0,0,0.2);
  box-shadow: 13px 13px 7px rgba(0,0,0,0.2);

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-top {
  color: #6b6b6b;
  text-align: center;
}
.card-bottom {
  height: 70px;
}

.card-front {
  color: snow;
}

.card-back {
  color: white;
  background-color: orange;
}
.hidden {
  display: none;
  visibility: hidden;
}

.description {
  background-color: fuchsia;
}

.enhanced {
  min-height: calc(100% - 70px);
  min-width: 600px;
  z-index: 2;
  overflow-y: scroll;
  -webkit-box-shadow: 23px 23px 17px rgba(0,0,0,0.2) !important;
  box-shadow: 23px 23px 17px rgba(0,0,0,0.2) !important;
}

.widthify {
  min-width: calc(100%+700px);
}
