#datBodyDough, html {
  background-color: lightgreen;
  margin: 0;
  height: 100%;
  width: 100%;
}
#wrapper {
  height: 100%;
  width: 100%;
}

.header {
  padding: 10px;
  height: 50px;
  width: auto;
  background-color: snow;
  text-align: center;
}

.footer {
  padding: 10px;
  height: 50px;
  width: auto;
  background-color: snow;
  text-align: center;
}

.container {
  height: calc( 100% - 140px );
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y:  hidden;
}

.card-size-small {
  min-width: 100px;
  max-width: 100px;
  max-height: 187px;
}

.card-size-medium {
  min-width: 200px;
  max-width: 200px;
  max-height: 373px;
}

.card-size-large {
  min-width: 300px;
  max-width: 300px;
  min-height: 560px;
  max-height: 560px;
}

.card {
  width: auto;
  margin: 20px;
  background-color: snow;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);

  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.card:hover {
  margin-top: 10px;
  -webkit-box-shadow: 13px 13px 7px rgba(0,0,0,0.2);
  box-shadow: 13px 13px 7px rgba(0,0,0,0.2);

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-top {
  color: #6b6b6b;
  text-align: center;
}
.card-bottom {
}

.card-front {
  color: snow;
}

.card-back {
  color: green;
  background-color: blue;
}
.hidden {
  visibility: hidden;
}

.description {
  background-color: fuchsia;
}
